*{
	margin: 0px;
	padding:0px;
}
body{
	background: #49f;
}
.nav-bar{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	width: 80%;
	height: 80px;
	border-radius: 100px;
}
.btn{
	width: 90%;
	height: 80%;
	border-radius: 100px;
	border: 0;
	background: transparent;
	color: #49f;
	transition: 0.6s;
}
.btn:hover{
	background: #49f;
	color: #fff;
	cursor: pointer;
}